<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="./book_slot.css">
   
    <link rel="stylesheet" href="/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

 
</head>
 
<body>
    <div class="shadow rounded p-4" id="book_slot">
        <div class="d-flex justify-content-between align-items-center">
            <span class="fw-bold sign_in_text">Book Slot</span>
            <button class="border-0 bg-transparent p-0">
                <img class="border-0" src="/images/X.png">
            </button>
        </div>
        <div>
            <span class="fw-bold expert_arrive_text">When should our expert arrive</span>
            <div class="ms-4 me-4 ">
                <button id="date_btn" class="badge rounded-pill  mt-4 ">
                    25 Jul
                </button>
                <button id="date_btn" class="badge rounded-pill  mt-4 ">
                    26 Jul
                </button>
                <button id="date_btn" class="badge rounded-pill  mt-4 ">
                    27 Jul
                </button>
                <button id="date_btn" class="badge rounded-pill mt-4 ">
                    28 Jul
                </button>
                <button id="date_btn" class="badge rounded-pill mt-4 ">
                    29  Jul
                </button>
            </div>

            <div class="fw-bold pt-3">Please select the start time for service</div>
            <div class="ms-4 me-5 d-flex gap-4 flex-wrap">
                <button id="time_btn" class="badge rounded-pill  mt-4 ">
                    12:00 PM
                </button>
                <button id="time_btn" class="badge rounded-pill  mt-4 ">
                    1:00 PM
                </button>
                <button id="time_btn" class="badge rounded-pill  mt-4 ">
                    3:30 PM
                </button>
                <button id="time_btn" class="badge rounded-pill ">
                    5:30 PM
                </button>
            </div>
            <div class=" d-flex justify-content-end">
                <button class="rounded-pill p-2" id="cancel_btn">Cancel</button>
                <button class="rounded-pill ms-2 save_btn p-2">Save</button>
            </div>
            
        </div>
    </div>
</body>
 
</html>