#select_address {
    max-width: 400px;
    padding: 24px;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: #4540E1;
    font-size: small;
  }
img{
    height: 20px;
    width: 20px;
}
.street{
    font-size: small;
    font-weight: 500;
}
.near_place{
    font-size:smaller;
    color: #666666;
}