@import "/css/global.css";
@import "/css/public/public.global.css";

.custom-card{
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
}



.custom-card-title p{
color: var(--color-text-light);
}

.booking-details{
    border-bottom: 1px solid var(--color-border-light);
    border-top: 1px solid var(--color-border-light);
}

.download-btn{
    background-color: white !important;
    border: 2px solid #DDE4EE !important;
    color: var(--primary-50);
}

tr{
    border-bottom: 2px dashed var(--color-border-light);
}



.add-service-button{
    border: 0px;
    background-color: white;
    color: #4540E1;
    border: 2px solid #DDE4EE;
    width: 48%;
}
.add-service-button:hover{
    background-color: white;
    color: black;
}
.bookings-button{
    border: 0px;
    background-color: #4540E1;
    color: white;
    width: 48%;
    margin-left: 7px;
}
.bookings-button:hover{
    background-color: white;
    border: 2px solid #DDE4EE;
    color: black;
}
.container-fluid-main{
    padding-left: 7rem;
    padding-right: 5rem;
}
@media(max-width : 590px){
    .container-fluid-main{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media(max-width : 410px){
    .container-fluid-main{
        padding-left: 1rem;
        padding-right: 0rem;
    }
}


/* Responsive padding For Bigger Screeens */


@media (min-width: 1400px) {
    .container-fluid-main{
        padding-left: 11rem;
        padding-right: 11rem;
    }
}
@media (min-width: 1550px) {
    .container-fluid-main{
        padding-left: 17rem;
        padding-right: 17rem;
    }
}
@media (min-width: 1800px) {
    .container-fluid-main{
        padding-left: 20rem;
        padding-right: 20rem;
    }
}
@media (min-width: 1950px) {
    .container-fluid-main{
        padding-left: 25rem;
        padding-right: 25rem;
    }
}
@media (min-width: 2150px) {
    .container-fluid-main{
        padding-left: 30rem;
        padding-right: 30rem;
    }
}
@media (min-width: 2300px) {
    .container-fluid-main{
        padding-left: 33rem;
        padding-right: 33rem;
    }
}