footer{
    background-color:  #F5F5F5;
}
.footer-text {
  font-size: 16px;
}
.footer-text-heading{
    font-size: 18px;
}
#logo_image{
    width:162px ; 
    max-width: 100%;
}
.social_media{
    width: 44px;
}
.social_media_div{
    height: 44px;
}
@media(min-width : 1440px){
    .footer-text{
        font-size: 20px;
    }
    .footer-text-heading{
        font-size: 24px;
    }
}
@media(min-width : 1800px){
    .footer-text{
        font-size: 24px;
    }
    .footer-text-heading{
        font-size: 28px;
    }
}
@media(max-width : 875px){
    .footer-text{
        font-size: 14px;
    } 
}

@media(max-width : 360px){
    #copyright{
        font-size: 13px;
    }
}
#footer_top_div{
    padding-left: 7rem; 
    padding-right: 5rem;
}
#footer_bottom_div{
    padding-left: 7rem; 
    padding-right: 5rem;
}
.container-fluid-main{
    padding-left: 7rem;
    padding-right: 5rem;
}
@media(max-width : 590px){
    #footer_top_div{
        padding-left: 3rem; 
        padding-right: 3rem;
    }
    #footer_bottom_div{
        padding-left: 3rem; 
        padding-right: 3rem;
    }
    .container-fluid-main{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media(max-width : 410px){
    #footer_top_div{
        padding-left: 1rem; 
        padding-right: 0rem;
    }
    #footer_bottom_div{
        padding-left: 1rem; 
        padding-right: 0rem;
    }
    .container-fluid-main{
        padding-left: 1rem;
        padding-right: 0rem;
    }
}



/* Navbar and top content*/
.button-purple {
    background-color: rgb(69, 64, 225) !important;
    color: white;
    font-weight: bold !important;
    font-size: 14px !important;
}





.nav-color {
    color: var(--color-text-light) !important;
    size: 16px !important;
}

.toggler-style:focus {
    border-color: #4540E1;
    border-width: 1px;
}

.main-line {
    font-size: 48px;
    width: 71%;
}
.search-bar{
    width: 71%;
}
@media(max-width : 1627px){
    .search-bar{
        width: 390px;
    }
}
@media(max-width : 1294px){
    .main-line {
        font-size: 46px;
        width: 75%;
    }
    .search-bar{
        width: 75%;
    }
}
@media(max-width : 1204px){
    .main-line {
        font-size: 44px;
        width: 78%;
        
    }
    .search-bar{
        width: 78%;
    }
}
@media(max-width : 1121px){
    .main-line {
        width: 92%;
    }
    .search-bar{
        width: 360px;
    }
}
@media(max-width : 992px){
    .main-line {
        font-size: 40px;
        width: 100%;
    }
    .search-bar{
        width: 600px;
    }
}
@media(max-width : 790px){
    .main-line {
        font-size: 38px;
        width: 100%;
    }
    .search-bar{
        width: 567px;
    }
}
@media(max-width : 759px){
    .search-bar{
        width: 400px;
    }
}
@media(max-width : 492px){
    .search-bar{
        width: 312px;
    }
}
@media(max-width : 325px){
    .main-line {
        font-size: 36px;
    }
    .search-bar{
        width: 300px;
    }
}

.line-two {
    font-size: 20px ;
    color: var(--color-text-light) !important;
}

.records {
    font-size: 32px !important;
    font-weight: bold !important;
}

.record-name {
    font-size: 14px !important;
}

.border-style {
    border-color: var(--color-border-light);
}

.search-line {
    color: var(--color-text-light) !important;
    font-size: 18px ;
}
.search-line::placeholder{
    font-size: 14px;
}
@media (max-width: 576px) {

    .line-two {
        font-size: 16px;
    }

    .records {
        font-size: 24px;
    }

    .record-name {
        font-size: 10px;
    }
}
.green-ball {
    height: 40px !important;
    width: 40px !important;
    background-color: #52BE6A !important;
    transform: translate(-50%, -50%) !important;
    top: 0% !important;
    left: 30% !important;
}

.orange-ball {
    height: 44px !important;
    width: 44px !important;
    background-color: #E18D40 !important;
    transform: translate(-50%, -50%) !important;
    top: 50%;
    right: 0%;
}

.purple-ball {
    height: 73px !important;
    width: 73px !important;
    background-color: #4540E1 !important;
    transform: translate(-50%, -50%) !important;
    bottom: 0%;
    left: 5%;
}

.border-bottom {
    color: var(--color-text-light) !important;
}