#select_address {
    max-width: 600px;
    padding: 24px;
    height: auto;
}
#change_btn{
    color: #4540E1;
    background-color:transparent;
    padding: 8px;
    border:1px solid #DDE4EE;

}
#select_address .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.selected_add_text{
    color:#999999;
}
.near_place{
    color: #666666;
}
#change_span{
    font-weight: bold;
    font-size: small;
}
input::placeholder {
    font-size: small;
}
.home_btn{
    border:1px solid #DDE4EE;
    font-size:small;
    font-weight: bold;
    color:#333333;
    width:70px;
}
.other_btn{
    border:1px solid #4540E1 !important;
    font-size:small;
    font-weight: bold;
    color:#333333;
    background-color: #ececfc;
    width:70px;
  
}


.save_btn {
    background-color: #4540E1;
    color: white;
    border: none;
    font-weight: bold;
    width: 100px;
}
#cancel_btn{
    color: #4540E1;
    background-color:transparent;
    padding: 8px;
    border:1px solid #DDE4EE;
    font-weight: bold;
    width: 100px;
}
#map_img{
    position: relative;
}
#gps_btn{
    position: absolute;
    left: 500px;
    top:200px;
    border:1px solid #DDE4EE;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
}

/* Responsive Media Queries */

/* Tablets and smaller devices (max-width: 768px) */
@media (max-width: 768px) {
    #select_address {
        max-width: 90%;
        padding: 20px;
    }

    #gps_btn {
        left: calc(100% - 60px);
        top: 150px;
    }

    #select_address .card-img-top {
        height: 200px;
    }
}

/* Mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    #select_address {
        max-width: 100%;
        padding: 16px;
    }

    #select_address .card-img-top {
        height: 180px;
    }

    #gps_btn {
        left: calc(100% - 50px);
        top: 140px;
        height: 35px;
        width: 35px;
    }

    .home_btn, .other_btn {
        width: 60px;
        font-size: 12px;
    }

    .save_btn, #cancel_btn {
        width: 80px;
        font-size: 13px;
    }
}

/* Extra small mobile devices (max-width: 360px) */
@media (max-width: 360px) {
    #select_address {
        padding: 12px;
    }

    #select_address .card-img-top {
        height: 150px;
    }

    #gps_btn {
        left: calc(100% - 45px);
        top: 115px;
        height: 32px;
        width: 32px;
    }

    .home_btn, .other_btn {
        width: 55px;
        font-size: 11px;
    }

    .save_btn, #cancel_btn {
        width: 70px;
        font-size: 12px;
    }

    input::placeholder {
        font-size: 11px;
    }
}