<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="./select_add_area.css">
   
    <link rel="stylesheet" href="/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

 
</head>
 
<body>
        <div class="shadow rounded p-4" id="select_address">
            <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold sign_in_text">Select Address</span>
                <button class="border-0 bg-transparent p-0">
                    <img class="border-0" src="/images/X.png">
                </button>
            </div>
            <div>
                <div class="card mt-4">
                    <img src="/images/public/283aab35bdf8034cf30d137c478ce73bd08713fd.png" class="card-img-top" id="map_img">
                    <button id="gps_btn">
                        <img src="/images/public/GpsFix.svg">
                    </button>
                </div>
                    <div class="mt-4">
                        <span class="selected_add_text small fw-bold">SELECTED ADDRESS</span>
                        <div class="d-flex justify-content-between">
                            <div class="mt-3">
                                <div class="fw-bold medium">Near Times Square, Apartment No. 87B,</div>
                                <div class="small near_place">Manhattan, New York City, New York, USA</div>
                            </div>
                            <button id="change_btn" class="badge rounded-4 mb-3 mt-4 " style="height: 31px;">
                                <span id="change_span">Change</span>
                            </button>
                        </div>
                        <hr>

                            <div class="d-flex">
                                <input type="text" placeholder="House/Flat Number*" class="form-control mb-4 w-45 pt-2 shadow-none fw-semibold">
                                
                                <input type="text" placeholder="Landmark" class="form-control mb-4 w-45 pt-2 ms-3 shadow-none fw-semibold">
                            </div>

                    </div>
                    <span class=" small fw-bold">Save As </span>
                    <div class="mt-3">
                        <button class="rounded-pill home_btn p-2 ">Home</button>
                        <button class="rounded-pill ms-2 other_btn p-2 ">Other</button>
                    </div>
                    <input type="text" placeholder="Eg. John's home, Mom's place, etc."  class="form-control mb-4 w-45 mt-3 shadow-none fw-semibold">
                    <div class=" d-flex justify-content-end">
                        <button class="rounded-pill p-2" id="cancel_btn">Cancel</button>
                        <button class="rounded-pill ms-2 save_btn p-2">Save</button>
                    </div>
            </div>
        </div>
</body>
 
</html>